<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FMDB_DBModel.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>225ED4ED1EC0530300BEE684</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>225ED5061EC0530300BEE684</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>225ED5111EC0530300BEE684</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
